.inputDiv {
  width: 50%;
  background-color: rgb(227, 228, 233);
  border-radius: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

#registerHeader {
  display: none;
}

#loginHeader {
  display: none;
}
