.inputDiv {
  width: 50%;
  background-color: rgb(227, 228, 233);
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hide {
  display: none;
}

.show {
  display: block;
}

.btnStart {
  margin-bottom: 20px;
}

.form-control {
  margin-top: 2px;
  margin-bottom: 2px;
}

#errorRegister {
  padding-bottom: 15px;
  font-size: 15px;
  color: rgb(178, 0, 0);
}
#errorLogin {
  padding-bottom: 15px;
  font-size: 15px;
  color: rgb(178, 0, 0);
}

#btnLogin {
  margin-top: 15px;
}
#btnRegister {
  margin-top: 15px;
}

.main2Top {
  width: 100%;
  position: absolute;
  top: 11em;
}
