.deleteTaskImage {
  max-height: 15px;
}

.deleteTaskImage:hover {
  cursor: pointer;
}

.editableTodo:hover {
  cursor: pointer;
}

#colTop {
  font-weight: bold;
  margin-bottom: 5px;
}

#inputDiv {
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
}

#todoChanger {
  position: absolute;
  top: 22%;
  left: 50px;
  right: 50px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(13, 110, 253);
  border-width: 2px;
  border-style: solid;
  visibility: hidden;
  border-radius: 20px;
}

#dimmer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(55, 55, 55);
  opacity: 0.8;
  visibility: hidden;
}

#btnSaveChange {
  margin-top: 20px;
}

#changeHeader {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

#taskMain {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.main2Top {
  padding-top: 11em;
}

.taskHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(13, 110, 253);
}

#taskHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(13, 110, 253);
}
