body {
  background: url("./resources/images/background.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainHeader {
  position: fixed;
  top: 0;
  display: grid;
  justify-content: center;
  background-color: red;
  height: 150px;
  width: 100%;
  background-color: rgba(13, 110, 253, 0.75);
  border-bottom: 1px;
  border-bottom-width: 2px;
  border-bottom-color: rgb(240, 240, 240);
  border-bottom-style: solid;
}

#logoImg {
  background-color: blue;
  border-radius: 75px;
  border: solid;
  border-width: 2px;
  color: rgb(240, 240, 240);
  font-family: Dancing Script;
  font-size: 40px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 35px;
  padding-bottom: 35px;
}

#logoDiv {
  margin: auto;
}

#startButtonsDiv {
  margin-top: 110px;
  position: fixed;
  right: 0;
}

.hidden {
  display: none;
  transition: display 2s;
}

.loginRegDiv {
  margin-top: 170px;
  width: 50%;
  background-color: rgb(227, 228, 233);
  border-radius: 20px;

  margin-bottom: 20px;
}
.margin10TB {
  margin-top: 10px;
  margin-bottom: 10px;
}
.deleteTaskImage {
  max-height: 15px;
}

.deleteTaskImage:hover {
  cursor: pointer;
}

.editableTodo:hover {
  cursor: pointer;
}

#colTop {
  font-weight: bold;
  margin-bottom: 5px;
}

#inputDiv {
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
}

#todoChanger {
  position: absolute;
  top: 22%;
  left: 50px;
  right: 50px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(13, 110, 253);
  border-width: 2px;
  border-style: solid;
  visibility: hidden;
  border-radius: 20px;
}

#dimmer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(55, 55, 55);
  opacity: 0.8;
  visibility: hidden;
}

#btnSaveChange {
  margin-top: 20px;
}

#changeHeader {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

#taskMain {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.main2Top {
  padding-top: 11em;
}

.taskHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(13, 110, 253);
}

#taskHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(13, 110, 253);
}
