body {
  margin-left: 50px;
  margin-right: 50px;
}

.deleteTaskImage {
  max-height: 15px;
}

.deleteTaskImage:hover {
  cursor: pointer;
}

.editableTodo:hover {
  cursor: pointer;
}

.taskHeader {
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
}

#colTop {
  font-weight: bold;
  margin-bottom: 5px;
}

#inputDiv {
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
}

#welcome {
  background-color: rgb(13, 110, 253);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

#todoChanger {
  position: absolute;
  top: 22%;
  left: 50px;
  right: 50px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(13, 110, 253);
  border-width: 2px;
  border-style: solid;
  visibility: hidden;
}

#dimmer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(55, 55, 55);
  opacity: 0.8;
  visibility: hidden;
}

#btnSaveChange {
  margin-top: 20px;
}

#changeHeader {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}
